.logo {
    width: 100%;
    background-color:rgb(167, 167, 240);
    margin: 0, auto;
    height: 100px;
}
.logo img {
    height: 100px;
    
}

header {
    text-align: center;
    color: blueviolet;
}
.tuneButton {
    align-items: center;
}

h1 {
    text-align: center;
    
}

button {
    background-color: rgb(167, 167, 240);
    align-self: center;
    color: rgb(255, 255, 255);
    width: 15%;
    border-radius: 5px;
    margin: auto, auto, auto, auto;

}
#recommendation {
    background-color: rgb(167, 167, 240);
    text-align: center;

}

h1 #vinylLink {
    text-align: center;
}

h2 #year {
    text-align: center;
}